<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'core/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <title>bridge</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- All the UI stuff -->
    <div class='fullpage'>
        <div class='leftpane pane'>
            l
        </div>
        <div class='midpane pane'>
            m
        </div>
        <div class='rightpane pane'>
            r
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
